apiclient
apipkg
appdirs
attrs
beautifulsoup4
colorama
enum34
execnet
Faker
google-api-python-client
httplib2
oauth2client
packaging
pluggy
py
pyasn1
pyasn1-modules
pyparsing
pytest
pytest-html
pytest-metadata
pytest-rerunfailures
pytest-splinter
pytest-xdist
python-dateutil
rsa
selenium==3.8.0
six
uritemplate
urllib3
pytz
Appium-Python-Client
Pillow==5.0.0
numpy